#for capistrano
/config/
Capfile
#---

framework
/protected/config/db.php
/uploads
/gallery
*~
/index.php
/media-131014.tar.gz
protected/yiic.php
protected/yiic.bat
protected/cron.php
/upload
protected/docs/
crontabs